.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 10px; /* Adjusted for better spacing */
  margin-top: -20px;

}

.dashboard-box {
  flex: 1;
  padding-left: 10px;

  background: linear-gradient(90deg, #3C4957 0%, #8299B3 100%);
  color: #f0f0f0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  height: 150px; /* Increased height for better layout */
  display: flex; /* For horizontal alignment */
 

  display:inline-table;
  
}

.dashboard-box:hover {
  transform: translateY(-15px);
}

.dashboard-box h2 {
  font-size: 24px; /* Slightly smaller for balance */
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px; /* Reduced margin for a cleaner look */

}

.dashboard-status {
  display: flex; /* For active/inactive status alignment */
  flex-direction: column; /* Stack them vertically */
}

.dashboard-status p {
  margin: 0; /* Remove default margin for consistent spacing */
  font-size: 16px; /* Ensure text is legible */

 
}

.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.active-dot {
  background-color: #EDCB54;
}

.inactive-dot {
  background-color: #FFECAB;
}

.circular-chart {
  width: 80px; /* Adjusted for visual balance */
  height: 80px; /* Adjusted for visual balance */
  margin-left: 15px; /* Space out from the text */

}
