.LoginForm_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginFormContainer_login {
  padding: 40px;
  border-radius: 10px; /* Changed to 10px for consistency */
  width: 300px; /* Consistent width */
  text-align: center;
  
 
}

.loginHeader_login {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.label_login {
  display: block;
  text-align: left;
  color: white;
  margin-bottom: 8px;
  font-size: 14px;
}

.inputField_login {
  width: 100%;
  height: 20px; /* Set a consistent height */
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px; /* Consistent border radius */
  font-size: 14px;
}

.inputContainer_login {
  position: relative;
}

.togglePassword_login {
  position: absolute;
  right: 1px; /* Adjusted for better alignment */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding-bottom: 20px;
}

.forgotPasswordContainer_login {
  text-align: right;
  margin-bottom: 20px;
}

.forgotPasswordLink_login {
  color: #b0b0b0;
  font-size: 12px;
  text-decoration: none;
}

.loginButton_login {
  background-color: #d4af37;
  border: none;
  padding: 12px;
  border-radius: 10px; /* Changed to 10px for consistency */
  color: #1c1c1c;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 108%;
  height: 40px; /* Set a consistent height */
}

.loginButton_login:hover {
  background-color: #b8952c;
}

.recaptchaContainer_login {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 108%;
  border-radius: 10px;
  margin-top: 50px;


}

.recaptchaCheckbox_login {
  margin-right: 10px;

}

.error_login {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

