/*
.LoginForm_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
}

.loginGold_login {
  color: #d8af28;
}

.loginFormContainer_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

h2 {
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}

.loginFormForm_login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 8px;
  text-align: left;
  font-size: 12px;
}

input {
  margin-bottom: 17px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}

.inputContainer_login {
  position: relative;
  width: 100%;
}

.togglePassword_login {
  position: absolute;
  top: 25%;
  right: 15px;
  cursor: pointer;
  width: 20px;
  height: auto;
}

.forgotPasswordContainer_login {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.forgotPasswordLink_login {
  text-decoration: none;
  font-size: 14px;
  color: rgba(134, 134, 134, 1);
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #d8af28;
  color: #1A1E21;
  width: 100%;
  max-width: 300px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
}

.recContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  margin-left: 5px;
  padding-left: 10px;
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #ffffff;
  transform: scale(0.8);
  transform-origin: center;
  height: 70px;
}

.error_login {
  color: rgb(223, 14, 14);
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}
*/