/* Container for the table */
.table-container {
  margin-left: 20px;
  margin-right: 18px;
  max-height: 400px; /* Set a fixed height to make the table scrollable */
  overflow-y: auto; /* Enables vertical scrolling within the container */
  overflow-x: auto; /* Enables horizontal scrolling if needed on smaller screens */
  border-radius: 10px; /* Matches the table's rounded corners */
 
}


/* Table styles */
.custom-table {
  width: 100%;           /* Ensure the table spans the full width */
  border-collapse: collapse; /* Remove gaps between table cells */
  border-radius: 10px;
}

.custom-table th,
.custom-table td {  
  padding: 6px;             /* Uniform padding for readability */
  text-align: left;         /* Align text to the left */
  border-bottom: 1px solid #ddd; /* Add bottom border */
  height: 30px;             /* Set a fixed height for uniformity */
  line-height: 30px;        /* Ensure text aligns vertically in the middle */
}

.custom-table th {
  background-color: #f4f4f4; /* Light grey for the header */
  position: sticky;          /* Keep headers fixed */
  top: 0;                    /* Stick at the top of the container */
  z-index: 2;                /* Ensure headers appear above table rows */

}

.custom-table td {
  background-color: #fff;    /* White background for table rows */
  border: 1px solid #ddd;    /* Add  a border for cells  "Border between the information "*/
}


/* Table row hover effect */
.custom-table tr:hover td {
  background-color: #f1f1f1; /* Light gray on hover */
}





/* Icon styling */
.row-icon {
 padding-right: 10px;
}

/* Edit icon */
.edit-icon {
  cursor: pointer;
  color: #192e99; /* Add a blue color to the FontAwesome edit icon */
  font-size: 18px; /* Adjust the icon size */
padding:1px;
margin: 2px;
 
}

/* Pagination styles */
.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background-color: gray;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.pagination button:hover {
  background-color: #333; /* Darken color on hover */
  color: white;
}

.pagination button.active {
  background-color: #192e49;
  color: white;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
