/* Container for the table */
.table-container {
  margin-left: 20px;
  margin-right: 18px;
  max-height: 400px; /* Set a fixed height to make the table scrollable */
  overflow-y: auto; /* Enables vertical scrolling within the container */
  overflow-x: auto; /* Enables horizontal scrolling if needed on smaller screens */
  border-radius: 10px; /* Matches the table's rounded corners */
}

/* Table styles */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden; /* Keep the rounded corners effect */
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}

.custom-table th {
  background-color: #f4f4f4;
  
}

.custom-table td {
  background-color: #fff;
}

/* Table row hover effect */
.custom-table tr:hover td {
  background-color: #f1f1f1; /* Light gray on hover */
}

/* First column with icon and name */



/* Icon styling */
.row-icon {
 padding-right: 15px;
}

/* Edit icon */
.edit-icon {
  cursor: pointer;
  color: #192e49; /* Add a blue color to the FontAwesome edit icon */
  font-size: 18px; /* Adjust the icon size */
}

/* Pagination styles */
.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background-color: gray;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.pagination button:hover {
  background-color: #333; /* Darken color on hover */
  color: white;
}

.pagination button.active {
  background-color: #192e49;
  color: white;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
